
:root{
    --navbar-height: 50px;
    --light-navbar: #7b8daf;
    --light-color: #000000;
    --light-bg-color: #fafafa;
    --dark-navbar: #0e0e0e;
    --dark-color: #fafafa;
    --dark-bg-color: #232323;
}

.dark-mode{
    color: var(--dark-color);
    background-color: var(--dark-bg-color);

    >#navigation-header{
        background-color: var(--dark-navbar);
        color: var(--light-color);

        .navbar-brand, .nav-link{
            color: var(--dark-color);
        }
    }
    .offcanvas{
        background-color: var(--dark-bg-color);
        color: var(--dark-color);
    }

    .navbar-toggler{
        background-color: var(--dark-navbar);
        color: var(--dark-color);
    }

    .theme-toggle{
        background-color: var(--dark-bg-color);
        color: var(--dark-color);
    }

    #socials{
        background-color: #292929;
    }
}

body{
    background-color: var(--light-bg-color);
    color: var(--light-color);

    #navigation-header{
        background-color: var(--light-navbar);
        color: var(--light-color);

        .navbar-brand, .nav-link{
            color: var(--light-color);
        }
    }

    .offcanvas{
        background-color: var(--light-bg-color);
        color: var(--light-color);
    }

    .navbar-toggler{
        background-color: var(--light-navbar);
        color: var(--light-color);
    }
    
    .theme-toggle{
        background-color: var(--light-bg-color);
        color: var(--light-color);
        border-radius: 50%;
    }

    #socials{
        background-color: rgb(226, 226, 226);
    }
}

#navigation-header{
    height: var(--navbar-height);
    width: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
}

a:hover{
    font-size: large !important;
    color: #41fe2f !important;
}

.theme-toggle{
    cursor: pointer;
    position: fixed;
    top: 10%;
    right: 0;
    width: 40px;
    object-fit: fill;
}

.section-head{
    padding: 5px;
    text-transform: uppercase;
    display: block;
    font-size: 4rem;
    letter-spacing: 3px;
}

.home-brand-img{
    border-radius: 50%;
    margin: 10px;
}

.home-content-desc{
    max-width: 90rem;
}

#home{
    margin-top: var(--navbar-height);
    height: 100vh;
}

section{
    margin-bottom: 50px;
    padding-top: var(--navbar-height);
}

#socials{
    position: absolute;
    top: 30%;
    left: 0;
    transform: translateY(-50%);
    width: 40px;
    margin: 2px;
}

.home-social-link{
    padding: 5px;
}

.about-container{
    margin: auto;    
}

.about-head{
    margin-bottom: 5rem;
}

.skills-container{
    display: flex;
    flex-wrap: wrap;
}

.skills-item{
    padding: 10px 15px;
    font-weight: 600;
    color: #393939;
    margin-bottom: 10px;
    margin-right: 1.5rem;
    background: #cdd8ee;
}

.project-container{
    padding: 5px;
}

.project-item{
    margin: 5rem;

}

.project-img-container{
    padding: 10px;
    height: 20rem;
}

.project-icon{
    border-radius: 10px;
    border: 2px solid black;
}

.project-desc{
    height: 60vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
